/* -- Animations -- */
@keyframes blink {
    to {
        background-color: #282828;
    }
}

/* -- Global -- */
* {
    font-family: JetBrainsMono Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

/* -- Bar -- */
window#waybar {
    background-color: #282828;
    color: #ebdbb2;
}

window#waybar.hidden {
    opacity: 1;
}

/* -- Modules -- */
#workspaces button,
#language,
#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#mpd {
    padding: 0 10px;
    margin: 4px 1px;
    color: inherit;

    border-radius: 8px;
}

/* Additional modules adjustments */
#language,
#battery,
#cpu,
#pulseaudio {
    color: #282828;
}

#clock,
#language,
#network,
#memory {
    padding: 0 14px 0 10px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

#workspaces button {
    padding: 0 0;
    margin: 4px 2px;

    background-color: transparent;
    color: #ebdbb2;

    transition: background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

#workspaces button:hover {
    background: #ebdbb2;
    color: #282828;
}

#workspaces button.focused {
    background: #ebdbb2;
    color: #282828;
}

#workspaces button.urgent {
    background-color: #cc241d;

    animation-name: blink;
    animation-duration: .8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    background-color: #282828;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#pulseaudio {
    background-color: #fabd2f;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#network {
    background-color: #458588;
}

#network.disconnected {
    background-color: #83a598;
}

#language {
    background-color: #fe8019;
}

#cpu {
    background-color: #8ec07c;
}

#memory {
    background-color: #b16286;
}

#clock {
    background-color: #3c3836;
}

#battery {
    background-color: #ebdbb2;
    padding: 0 12px 0 8px; /* Otherwise looks cut on the left */

    margin-right: 4px;
}

#battery.low:not(.charging) {
    background-color: #ebdbb2;
    color: #282828;

    animation-name: blink;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#mpd {
    background-color: #b8bb26;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
