// - Variables -
$fonts: {{ fonts.ui.name }}, FontAwesome

// Make background transparent
// + additional styling
$transparentBackground: true

// Colors
$background:  {{ colors.background }}
$background1: {{ colors.background1 }}
$foreground:  {{ colors.foreground }}

// Normal
$red:     {{ colors.normal.red }} 
$blue:    {{ colors.normal.blue }} 
$magenta: {{ colors.normal.magenta }} 

// Bright
$bred:    {{ colors.bright.red }}
$byellow: {{ colors.bright.yellow }} 
$bblue:   {{ colors.bright.blue }}
$bcyan:   {{ colors.bright.cyan }} 
$borange: #fe8019 // FIXME

// - Placeholders -
// All visible containers
// (buttons, info)
%container
    margin: 6px 1px
    border-radius: 8px
    color: $background

// Background around modules
// and workspaces
%selectiveBackground
    background: $background
    border-radius: 10px
    padding: 1px 5px
    margin:
        top: 8px
        right: 20px
        left: 20px
        bottom: 2px

// - Mixins -
// All visible containers
%module
    padding:
        right: 10px
        left: 10px

%moduleWider // For modules with wider icons
    padding:
        right: 14px
        left: 10px

// - CSS -
*
    font-family: $fonts
    font-size: {{ fonts.ui.size + 2}}

window
    &#waybar
        @if $transparentBackground
            background-color: transparent
        @else
            background-color: $background

        color: $foreground

        &.hidden
            opacity: 1

.modules-right
    @if $transparentBackground
        @extend %selectiveBackground

#workspaces button,
#tray,
#mpd,
#clock,
#network,
#memory,
#gamemode,
#battery,
#cpu,
#pulseaudio,
#language
    @extend %container

#tray,
#mpd,
#gamemode,
#battery,
#cpu,
#pulseaudio
    @extend %module

#clock,
#network,
#memory,
#language
    @extend %moduleWider

#network,
#memory,
#clock
    color: $foreground

#language
    min-width: 32px

#workspaces
    @if $transparentBackground
        @extend %selectiveBackground

    button 
        padding: 0 0 
        margin: 6px 3px
        background-color: $background1
        color: $foreground
        font-weight: bold 
        transition: all 0.2s ease, border 0s, margin 0s

        &:hover 
            background: $foreground
            color: $background
            /* border: 2px solid $background */
            /* box-shadow: 0 0 0 2px $foreground */
            /* margin: 4px 1px */

        &.focused 
            background: $foreground
            color: $background
            border: 2px solid $background
            box-shadow: 0 0 0 2px $foreground
            margin: 4px 1px

        &.urgent 
            background-color: $red
            animation-name: blink 
            animation-duration: .8s 
            animation-timing-function: linear 
            animation-iteration-count: infinite 
            animation-direction: alternate 

#gamemode 
    background-color: $bred

#tray
    @if $transparentBackground
        background-color: $background

    & > .passive 
        -gtk-icon-effect: dim 

    & > .needs-attention 
        -gtk-icon-effect: highlight 
        background-color: $bred

#pulseaudio 
    background-color: $byellow

    &.muted 
        background-color: $bblue
        color: $background1

#network 
    background-color: $blue

    &.disconnected 
        background-color: $bblue

#language 
    background-color: $borange

#cpu 
    background-color: $bcyan

#memory 
    background-color: $magenta

#clock 
    background-color: $background1

#battery 
    background-color: $foreground
    padding: 0 12px 0 8px 
    margin-right: 4px 

    &.low 
        &:not(.charging) 
            background-color: $foreground
            color: $background
            animation-name: blink 
            animation-duration: 0.3s 
            animation-timing-function: linear 
            animation-iteration-count: infinite 
            animation-direction: alternate 

#mpd 
    color: $background1

    &.disconnected 
        background-color: $bred

    &.stopped 
        background-color: $bblue

    &.paused 
        background-color: $bblue // subject to change
